<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.OrderMapper">



    <select id="selectHotBooks" resultType="bookVo" parameterType="integer">
        select book_id, book_name, book_cover, book_author
        from tb_book b
                 left join (select book_id
                            from tb_order
                            where status = 1
                            group by book_id
                            order by count(book_id)) o
                           on b.book_id = o.book_id
        where b.status = 1 desc limit #{count}
    </select>
    <select id="selectOrderListByUser" resultType="com.wang.pojo.vo.ManOrderVo">
        select u.user_id, u.username, u.phone, o.*
        from (select * from tb_order
        <where>
            <if test="bo.status!=null">
                status= '%${bo.status}%'
            </if>
        </where>
        ) o
        join (select user_id, username, phone from tb_user where phone = '%${bo.val}%' or username like '%${bo.val}%') u
        on u.user_id = o.user_id order by o.order_date desc
    </select>
    <select id="selectOrderListByBook" resultType="com.wang.pojo.vo.ManOrderVo">
        select b.book_id, b.book_name, b.book_cover, o.*
        from (select * from tb_order
        <where>
            <if test="bo.status!=null">
                status= '%${bo.status}%'
            </if>
        </where>
        ) o join (select book_id,book_name,book_cover from tb_book where book_name like '%${bo.val}%') b
        b.book_id=o.book_id order by o.order_date desc
    </select>
</mapper>