<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.OrderMapper">



    <select id="selectHotBooks" resultType="bookVo" parameterType="integer">
        select b.book_id, book_name, book_cover, book_author,book_price
        from tb_book b
                 left join (select book_id,buy_date
                            from tb_order
                            where status = 1
                            group by book_id
                            order by count(book_id)) o
                           on b.book_id = o.book_id
        where b.status = 1 order by o.buy_date  desc limit #{count}
    </select>
    <select id="selectOrderListByUser" resultType="com.wang.pojo.vo.ManOrderVo">
        select u.user_id, u.username, u.phone, o.*
        from (select * from tb_order
        <where>
            <if test="bo.status!=null">
                status= '${bo.status}'
            </if>
        </where>
        ) o
        join (select user_id, username, phone from tb_user where phone = '${bo.val}' or username like '${bo.val}') u
        on u.user_id = o.user_id order by o.order_date desc
    </select>
    <select id="selectOrderListByBook" resultType="com.wang.pojo.vo.ManOrderVo">
        select b.book_id, b.book_name, b.book_cover, o.*
        from (select * from tb_order
        <where>
            <if test="bo.status!=null">
                status= '${bo.status}'
            </if>
        </where>
        ) o join (select book_id,book_name,book_cover from tb_book where book_name like '%${bo.val}%') b on
        b.book_id=o.book_id order by o.order_date desc
    </select>

    <select id="getTenNums" resultType="java.util.Map">
        select td.click_date as date, ifnull(o.num, 0) as num
        from (
            select curdate() as click_date
            union all
            select date_sub(curdate(), interval 1 day) as click_date
            union all
            select date_sub(curdate(), interval 2 day) as click_date
            union all
            select date_sub(curdate(), interval 3 day) as click_date
            union all
            select date_sub(curdate(), interval 4 day) as click_date
            union all
            select date_sub(curdate(), interval 5 day) as click_date
            union all
            select date_sub(curdate(), interval 6 day) as click_date
            union all
            select date_sub(curdate(), interval 7 day) as click_date
            union all
            select date_sub(curdate(), interval 8 day) as click_date
            union all
            select date_sub(curdate(), interval 9 day) as click_date
            ) td
            left join (select date_format(buy_date, '%Y-%m-%d') as buy_date, sum(order_num) as num
            from tb_order
            group by date_format(buy_date, '%Y-%m-%d')) o
        on td.click_date = o.buy_date
        order by td.click_date asc
    </select>

    <select id="getTenPrices" resultType="java.util.Map">
        select td.click_date as date, ifnull(o.price, 0) as price
        from (
            select curdate() as click_date
            union all
            select date_sub(curdate(), interval 1 day) as click_date
            union all
            select date_sub(curdate(), interval 2 day) as click_date
            union all
            select date_sub(curdate(), interval 3 day) as click_date
            union all
            select date_sub(curdate(), interval 4 day) as click_date
            union all
            select date_sub(curdate(), interval 5 day) as click_date
            union all
            select date_sub(curdate(), interval 6 day) as click_date
            union all
            select date_sub(curdate(), interval 7 day) as click_date
            union all
            select date_sub(curdate(), interval 8 day) as click_date
            union all
            select date_sub(curdate(), interval 9 day) as click_date
            ) td
            left join (select date_format(buy_date, '%Y-%m-%d') as buy_date, sum(order_price) as price
            from tb_order
            group by date_format(buy_date, '%Y-%m-%d')) o
        on td.click_date = o.buy_date
        order by td.click_date asc
    </select>

</mapper>